* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

div{
    margin-top: 40px;
}

button{
    height: 35px;
    width: 300px;
    background-color: rgb(34, 34, 56);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button:hover{
    background-color: white;
    color: rgb(34, 34, 56);
    border: 2px solid rgb(34, 34, 56);
    font-weight: 700;
}